*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background-color: #1E293B;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
}

form{   
    display: flex;
    flex-direction: column;
}

.container > h1{
    color: #1e293b;
    font-size: 1.2em;
    font-family: poppins,Arial, Helvetica, sans-serif;
    margin-bottom: 0.8em;
    font-weight: 700;
}

textarea{
    color: #555;
    min-width: 362px;
    min-height: 224px;
    height: 60vh;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.8em;
    padding: 10px 12px;
    outline: none;
    border: 1px solid #eee;
    border-radius: 4px;
}

textarea:hover{
    border: none;
}

textarea:focus{
    border: none;
}

select{
    background-color: #1e293b;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    font-family: poppins;
    border-radius: 2px;
    margin-bottom: 20px;
}

input[type="button"]{
    background-color: #1e293b;
    border: none;
    padding: 5px 8px;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
    margin-bottom: 8px;
}

@media (max-width: 640px) {
        
    body{
        background-color: #1E293B;
        display: block;
        height: 100vh;
    }

    .container{
        background-color: #fff;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        overflow: hidden;
        height: 100vh;
    }

    form{   
        display: flex;
        flex-direction: column;
    }

    .container > h1{
        color: #1e293b;
        font-size: 34px;
        font-family: poppins,Arial, Helvetica, sans-serif;
        margin-bottom: 20px;
        font-weight: 700;
        width: 100vw;
    }

    textarea{
        color: #555;
        max-width: 100vw;
        min-height: 224px;
        font-size: 0.9em;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1.8em;
        padding: 10px 12px;
        outline: none;
        border: 1px solid #eee;
        border-radius: 4px;
    }

    textarea:hover{
        box-shadow: 0 1px 3px 0 rgb(84 83 83 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        border: 1px solid #1E293B;
    }

    textarea:focus{
        box-shadow: 0 1px 3px 0 rgba(84, 83, 83, 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        border: 1px solid #1E293B;
    }

    select{
        background-color: #1e293b;
        border: none;
        padding: 12px 20px;
        color: #fff;
        font-size: 12px;
        font-family: poppins;
        border-radius: 2px;
        margin-bottom: 20px;
    }

    input[type="button"]{
        background-color: #1e293b;
        border: none;
        padding: 5px 8px;
        color: #fff;
        font-size: 16px;
        border-radius: 2px;
        margin-bottom: 8px;
    }
    
}